body {
  background: url(160758710_1568557473336340_2331667879386950148_n.png)
    no-repeat center center fixed;
  -webkit-background: cover;
  -moz-background: cover;
  -o-background: cover;
  background: cover;
}
